<div class="row">
  <div class="col-md-12 text-center">
  	<div class="defs">
			<%= render :partial => 'shared/definitions' %>
		</div>
	</div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to calendar_path(date: @date - 15.day), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-backward"></i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_path(date: @date + 15.day), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <%= form_for :timesheet do |f| %>
    <%= calendar @date do |date| %>
      <%= date.day %>  
      <td> 
      	<%= date.strftime('%a') %>
      </td>
      <td>
      	<%= f.collection_select(:department_id, Department.all, :code, :name) %>
      </td>
      <td>
		    <%= f.text_field :title %>
	    </td>
	    <td>
      	<%= f.collection_select(:department_id, Department.all, :code, :name) %>
      </td>
      <td>
		    <%= f.text_field :title %>
	    </td>
	    <td>
      	<%= f.collection_select(:department_id, Department.all, :code, :name) %>
      </td>
      <td>
		    <%= f.text_field :title %>
	    </td>
	    <td>
      	<%= f.collection_select(:department_id, Department.all, :code, :name) %>
      </td>
      <td>
		    <%= f.text_field :title %>
	    </td>
    <% end %>
  <% end %>
  </div>
</div>